colorer/src/hrc/wsc/src/wsf.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by KMD (HomeSoft) -->
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="description" type="xs:string"/>
  <xs:element name="example" type="xs:string"/>

  <xs:complexType name="namedType">
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="helpstring" type="xs:string" use="optional"/>
    <xs:attribute name="type" type="xs:string" use="optional"/>
    <xs:attribute name="required" type="xs:boolean" use="optional"/>
  </xs:complexType>

  <xs:element name="package">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="job" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="job" type="jobType"/>

  <xs:complexType name="jobType" mixed="true">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="runtime" type="runtimeType"/>
      <xs:element name="script" type="scriptType" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="runtimeType">
    <xs:all>
      <xs:element name="named" type="namedType"/>
      <xs:element ref="description"/>
      <xs:element ref="example"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="scriptType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="language" type="xs:string" use="required"/>
        <xs:attribute name="id" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
